<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.board.mapper.CategoryMapper">
	
	<!-- 카테고리 삭제 -->
	<delete id="deleteCategory" >
		DELETE 
		FROM category
		WHERE category_name = #{categoryName}
	</delete>
	
	<!-- 카테고리 입력 -->
	<insert id="insertCategory" parameterType="com.gdu.board.vo.Category">
		INSERT INTO category(
			category_name, 
			category_date, 
			update_date
		) VALUES (
			#{categoryName}, 
			NOW(), 
			NOW()
		)
	</insert>
	
	<!-- 카테고리 전체 조회 BY 검색어 -->
	
	<!-- 카테고리 전체 조회 -->
	<select id="selectCategoryList" parameterType="com.gdu.board.vo.Category" resultType="com.gdu.board.vo.Category">
		SELECT 
			category_name categoryName, 
			category_date categoryDate, 
			update_date updateDate
		FROM category
		ORDER BY category_name DESC
	</select>
</mapper>