<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.board.mapper.MemberMapper">
	
	<!-- Member PW 변경 | param : memberPw, memberNo -->
	<update id="updateMemberPassword">
		UPDATE member
		SET
			member_pw = #{memberPw}, 
			update_date = NOW()
		WHERE member_no = #{memberNo}
	</update>

	<!-- Member 삭제 | param : memberNo -->
	<delete id="deleteMember">
		DELETE member
		FROM member
		WHERE member_no = #{memberNo}
	</delete>
	
	<!-- Member 변경 | param : memberLevel, memberState, memberEmail, memberNo -->
	<update id="updateMember">
		UPDATE member
		SET
			member_level = #{memberLevel}, 
			member_state = #{memberState}, 
			member_email = #{memberEmail}, 
			update_date = NOW()
		WHERE member_no = #{memberNo}
	</update>
	
	<!-- 단일 Member 조회 | param : memberNo -->
	<select id="selectMemberOne" parameterType="int" resultType="com.gdu.board.vo.Member">
		SELECT 
			member_no memberNo, 
			member_id memberId, 
			member_level memberLevel, 
			member_state memberState, 
			member_email memberEmail, 
			member_date memberDate, 
			update_date updateDate
		FROM member
		WHERE member_no = #{memberNo}
	</select>
	
	<!-- 총 Member 수 조회 -->
	<select id="selectMemberTotalCount"  parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM member
	</select>

	<!-- Member 목록 조회 | param : memberId, beginRow, rowPerPage -->
	<select id="selectMemberList" parameterType="com.gdu.board.vo.Member" resultMap="resultMember">
		SELECT 
			member_no, 
			member_id, 
			member_level, 
			member_state, 
			member_email, 
			member_date, 
			update_date
		FROM 
			member
		<where>
			<if test="memberId != null">
				LIKE member_id = CONCAT('%', #{memberId}, '%');
			</if>
		</where>
		ORDER BY member_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- MemberPw 확인 | param : memberId, memberPw -->
	<select id="selectMemberPwCheck" parameterType="com.gdu.board.vo.Member" resultType="int">
		SELECT 
			COUNT(member_id) count
		FROM 
			member
		WHERE 
			member_id = #{memberId} AND member_pw = #{memberPw}
	</select>
	
	<!-- Member 삽입 | param : memberId, memberPw, memberEmail -->
	<insert id="insertMember" parameterType="com.gdu.board.vo.Member">
		INSERT INTO member(
			member_id, 
			member_pw, 
			member_email, 
			member_date, 
			update_date
		) VALUES (
			#{memberId}, 
			#{memberPw}, 
			#{memberEmail}, 
			NOW(), 
			NOW()
		)
	</insert>

	<!-- 로그인할 Member 조회 | param : memberId, memberPw -->
	<resultMap type="com.gdu.board.vo.Member" id="resultMember">
		<id column="member_no" property="memberNo"/>
		<result column="member_id" property="memberId"/>
		<result column="member_level" property="memberLevel"/>
		<result column="member_state" property="memberState"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_date" property="memberDate"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>
	<select id="selectMemberLogin" parameterType="com.gdu.board.vo.Member" resultMap="resultMember">
		SELECT 
			member_no, 
			member_id, 
			member_level, 
			member_state, 
			member_email, 
			member_date, 
			update_date
		FROM 
			member
		WHERE 
			member_id = #{memberId} AND member_pw = #{memberPw}
	</select>
</mapper>